
@{
    ViewBag.Title = "Editeaza review";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Reviews/Edit/@ViewBag.Review.ReviewId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Comentariu</label>
    <br />
    <textarea name="ReviewComment">@ViewBag.Review.ReviewComment</textarea>
    <br />
    <label>Rating</label>
    <br />
    <input type="number" name="ReviewRating" value="@ViewBag.Review.ReviewRating"/>
    <br />
    <button class="btn btn-success" type="submit">Editeaza review</button>
</form>


