
@{
    ViewBag.Title = "Index";
}

<h1>Afisare Review-uri</h1>

@foreach (var review in ViewBag.Reviews)
{
    <h1>Comentariu: @review.ReviewComment</h1>
    <p>Rating: @review.ReviewRating</p>
    <p>Pentru produsul: @review.Product.Title</p>
    <a href="/Reviews/Show/@review.ReviewId">Afisare Review</a>
    <br />
}
<br /> <br />
<a href="/Reviews/New/">Adauga review</a>
<br /><br />
<a href="/Products/Index/">Afisare lista produse</a>
<br /><br />
<a href="/Categories/Index/">Afisare lista categorii</a>
