
@{
    ViewBag.Title = "Review nou";
}

<h1>Adaugare Review</h1>

<form method="post" action="/Reviews/New">
    <label>Comentariu</label>
    <textarea name="ReviewComment"></textarea>
    <br />

    <label>Rating</label>
    <input type="number" name="ReviewRating" />
    <br />

    <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />

    <button type="submit"> Adauga Review </button>
</form>

<br /> <br />
<a href="/Reviews/Index">Inapoi la review-uri</a>
