@model OnlineShop.Models.Category

@{
    ViewBag.Title = "New";
}

<h2>Adaugare Categproe</h2>
<form method="post" action="/Categories/New">
    @Html.Label("Nume", "Nume Categorie")
    <br />
    @Html.TextBox("CategoryName", null, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Description", "Descriere Categorie")
    <br />
    @Html.TextArea("CategoryDescription", null, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-sm btn-success" type="submit">Adauga categorie</button>
</form>