@model OnlineShop.Models.Category

@{
    ViewBag.Title = "Show";
}

<h1>Afisare Categorie</h1>

@Html.Partial("CategoryInfo", Model)

<a href="/Categories/Edit/@Model.CategoryId">Modifica categoria</a>
<br />
<br />
<form method="post" action="/Categories/Delete/@Model.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge categorie</button>
</form>
<hr />
<a href="/Categories/Index">Inapoi la categorii</a>
<br /> <br />
<a href="/Categories/New">Adauga categorie</a>
<br />
